<div class="flash-sales mt-20">
    <div class="container-fluid">
        <h5 class="mb-2">Flash Sales</h5>
        <div class="row no-gutters p-0 m-0">
            <div class="col-md-3 mb-30" *ngFor=" let product of products">
                <div class="card" >  
                    <div class="card-body ">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-row align-items-center time float-left">
                                <i class="fa fa-clock-o fa-2x"></i>
                                <small class="ml-1">{{ product.expiredHours }} hours</small>
                            </div>
                            <span class="float-right text-center off">
                                <strong class="text-center text-danger">{{ product.discount }}%</strong>
                                <strong class="text-center text-white">OFF</strong>
                            </span>
                        </div>          
                        <div class="card-img-actions">
                            <img [src]="product.photo_url" class="card-img img-fluid" alt="">
                        </div>
                        <div class="mb-0">
                            <h6 class="font-weight-semibold mb-1">
                                <a href="#" class="text-default mb-2 stretched-link"
                                    data-abc="true">{{ product.title }}</a>
                            </h6>
                            <a href="#" class="text-muted" data-abc="true">{{ product.category}}</a>
                        </div>
                        <div class="row mb-2 mt-2 no-gutters" style="position: relative;">
                            <div class="col-sm-6">
                                <h6 class="mb-0 font-weight-semibold float-left ">{{ product.price | currency:'AUS' }}</h6>
                            </div>
                            <div class="col-sm-6">
                                <h6 class="mb-0 font-weight-semibold old-price float-right">{{ product.price | currency:'AUS' }}</h6>
                            </div>                               
                        </div>
                        <div class="mb-2">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                                    aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                    <strong class="text-light text-uppercase ">40 Sold</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-light m-0" style="border:none">           
                        <button type="button " class="btn bg-cart "  style="width:100%" >
                            <i class="fa fa-cart-plus "></i>
                            <strong class="text-uppercase text-center">
                                Add to cart
                            </strong>
                        </button>     
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>