<div class="container-fluid mt-50">
    <h5 class="mb-2">Popular Products</h5>
    <div class="row no-gutters justify-content-between">
        <div class="col-md-3" *ngFor=" let product of products">
            <div class="card card-body p-0">
                <div
                    class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                    <div class="mr-0 mb-1 mb-lg-0">
                        <img [src]="product.photo_url" width="150" height="150" alt="">
                    </div>
                    <div class="media-body">
                        <h6 class="media-title font-weight-semibold mt-3"> <a href="#"
                                data-abc="true">{{ product.title }}</a> </h6>
                        <div class="list-inline list-inline-dotted mb-2 mt-2">
                            <div class="mt-0">
                                <div>
                                    <i class="fa fa-star star "></i>
                                    <i class="fa fa-star star "></i>
                                    <i class="fa fa-star star "></i>
                                    <i class="fa fa-star star "></i>
                                    <i class="fa fa-star star "></i>
                                </div>
                                <div class="text-muted">{{ product.review }}reviews</div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mt-2 ">
                                <div class="d-flex flex-row align-items-center time float-left">
                                    <h5 class="mb-0 font-weight-semibold float-left popular-product-price " >
                                        {{product.price | currency:'AUS'}}</h5>
                                </div>
                                <!-- <button type="button"
                                        class="btn btn-warning text-white align-items-center d-block mr-2">
                                        <i class="icon-cart-add mr-2"></i>
                                        Add to cart</button> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>